<%- include('partials/html-start.ejs') %>
<h1>EJS Server.</h1>

<p>Quebec Lab - Ethan Rinke.


<% for (var i = 0; i< myResultClient.length; i++) { %>
    <li>Student:              <%= myResultClient[i].name %></li>
    <li>School Status:  <%= myResultClient[i].schoolClass %></li>
    <li>Graduation Month:     <%= myResultClient[i].gradMonth %></li>


<% } %>


<h3> add a new game </h3>

<form method="POST" action="/addGame">
    <label for="gName">New Game</label>
    <input name="gName" placeholder="Name of the game">
    <input publisher="publisher" placeholder="Enter the game publisher"/>
    <input type="submit" value="add a new game" />
</form>






                
<footer> Links to Repo:

    <a href="https://crimsonhog.github.io/bug-free-fortnight/" target="_blank">HTML Website</a> |

    <a href="https://github.com/CrimsonHog/bug-free-fortnight.git/" target="_blank">Source Code</a>

</footer>


<%- include('partials/html-end.ejs') %>